* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

.dark {
  background-color: #000;
  color: aliceblue;
}

.dark .nav-links,
.nav-links-mobile {
  text-shadow: #ffffff 2px 2px 2px;
}

.dark .burger-menu {
  border: #ffffff 2px solid;
}

.dark #night-mode {
  background-image: url("assets/sky.png");
  background-size: 40px;
  animation: rotation-night-mode 1s ease;
}

nav {
  margin: 5px;
  height: 17vh;
}

nav,
nav > ul {
  display: flex;
  justify-content: space-between;
}

#night-mode {
  margin-left: auto;
  margin-top: 6px;
  margin-right: 20px;
  background-image: url("assets/moon.png");
  background-size: 40px;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: all 0.3s ease;

  width: 40px;
  height: 40px;
}

.nav-links-mobile,
.burger-menu {
  display: none;
}
.nav-links,
.nav-links-mobile,
a {
  list-style: none;
  text-decoration: none;

  color: #000;
}
a:hover {
  color: #f68205;

  text-shadow: #000 1px 1px 2px;
}
.nav-links > li {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2rem;
}

.logo {
  margin-left: 10px;
  font-size: 1.5rem;
}

#projects {
  display: flex;
  margin-top: 10px;
  gap: 10px;

  flex-wrap: wrap;

  justify-content: center;
}

.project {
  background-color: hsl(0, 0%, 77%);
  color: #fff;
}

.project:hover {
  background-color: #f68205;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  color: #fff;
}

.project-img {
  width: full;
  height: 300px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;

  width: 380px;
  height: 600px;
  margin: 10px;
}

.project h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #717070;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #030303;
}
.project p {
  margin: 10px;
  overflow-y: scroll;
  scrollbar-color: red;
}

.project button {
  width: 90%;

  margin: 10px;
  margin-left: 17px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #f68205;
  color: #000;
}

.icon-github {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.open > .nav-links-mobile {
  margin-top: 10px;
  display: inline;
  line-height: 2;
}
#about,
#experience,
#projects,
#contact {
  margin: 10px;
  line-height: 2;
}

#download-cv {
  border: #f68205 1px solid;
  border-radius: 5px;
  padding: 10px;
}

.dark #download-cv,
#icon {
  text-shadow: #ffffff 1px 1px 2px;
}

#download-cv img {
  margin-left: 2px;
  animation: floating 2s infinite;
}

#icon img {
  transform: translateY(14px);
}

#about {
  display: flex;
  align-items: center;
}

#logo-animation {
  border: #f68205 30px solid;
  width: 305px;
  height: 300px;
  position: absolute;

  z-index: -1;
  animation: rotation-logo 5s infinite alternate-reverse;
  border-radius: 50%;
}

#about > img {
  margin-right: 10px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: hsl(31, 96%, 49%) 2px solid;
  margin-bottom: 10px;
}

.open > .lines:nth-child(1) {
  transform: translate(2px, 11px) rotate(45deg);
}
.open > .lines:nth-child(2) {
  transform: translate(1px, 5px) rotate(45deg);
}
.open > .lines:nth-child(3) {
  transform: translate(0px, 0px) rotate(-45deg);
}

.lines {
  box-shadow: #000 1px 1px 2px;
  background-color: #f68205;
  height: 2px;
  margin: 2px;
  width: 30px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  nav {
    margin-right: 10px;
    height: auto;
  }

  .burger-menu {
    position: relative;
    padding: 10px;
    border: #000 2px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    transition: all 1.3s ease;
  }

  .nav-links-mobile {
    display: none;
  }
  #about {
    flex-direction: column;
  }
}

@keyframes rotation-logo {
  0% {
    transform: rotate(0deg);
    width: 300px;
  }
  30% {
    width: 280px;
  }
  60% {
    width: 250px;
    height: 310px;
  }
  100% {
    transform: rotate(360deg);
    width: 290px;
    height: 300px;
  }
}

@keyframes rotation-night-mode {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
